<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="countoffiles" value="7"/>
    <add key="logfilelocation" value="abc.txt"/>
  </appSettings>
  <!--<ConnectionManagerDatabaseServers>
    <add key="localhost" value="localhost" />
    <add key="Dev" value="Dev.MyDomain.local"/>
    <add key="Test" value="Test.MyDomain.local"/>
    <add key="Live" value="Prod.MyDomain.com"/>
  </ConnectionManagerDatabaseServers>-->
</configuration>