<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="pageAppearanceGroup">
      <section
        name="pageAppearance"
        type="WebApp.Helpers.PageAppearanceSection"
        allowLocation="true"
        allowDefinition="Everywhere"/>
    </sectionGroup>
    <section name="cacheProvider" type="WebApp.Helpers.CacheProviderConfigurationSection"/>
  </configSections>
  <connectionStrings>
    <add name="CacheSample" connectionString="data source=.;Integrated Security=SSPI;Initial Catalog=TestDB"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <!-- Configuration section settings area. -->
  <pageAppearanceGroup>
    <pageAppearance remoteOnly="true">
      <font name="TimesNewRoman" size="18"/>
      <color background="000000" foreground="FFFFFF"/>
    </pageAppearance>
  </pageAppearanceGroup>
  <cacheProvider type="WebApp.Helpers.AspNetCacheProvider`1">
    <cacheDependency interface="IKeyCacheDependency" type="WebApp.Helpers.AspNetKeyCacheDependency" />  
    <cacheDependency interface="ISqlCacheDependency" type="WebApp.Helpers.AspNetSqlCacheDependency" />
  </cacheProvider>
</configuration>
